body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.short-link {
    /*text-align: right;*/
    padding-right: 10px;
}

.long-link, .short-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
    padding-bottom: 0px;
    height: 100%;
    margin-top: 8px; /*fix hard code*/
}


.lr-pad {
    padding-left: 0px;
    padding-right: 0px;
}

.link {
    background-color: white;
    border-radius: 16px 20px 16px 20px;
    padding: 20px;
    margin: 10px 0px 10px 0;
    font-size: 16px;
}

.copy-btn {
    width: 100%;
    font-size: 16px;
}

.btn-shorten {
    color: white;
    background-color: blue;
    width: 25%;
    height: 100%;
    margin: 0px;
    font-size: 18px;
    min-width: 120px;
    padding: 10px 16px;
}

    .btn-shorten:hover {
        color: white;
        background-color: rgba(0, 38, 255, 1);
    }

#form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fullUrl-input {
    width: 70%;
    max-width: 1000px;
    border: 0px solid;
    border-color: blueviolet;
}
