body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.short-link {
    /*text-align: right;*/
    padding-right: 10px;
}
.long-link, .short-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
    padding-bottom: 0px;
    height: 100%;
    margin-top: 8px; /*fix hard code*/
}


.lr-pad {
    padding-left: 0px;
    padding-right: 0px;
}

.link {
    background-color: white;
    border-radius: 16px 20px 16px 20px;
    padding: 20px;
    margin: 10px 0px 10px 0;
    font-size: 16px;
}

.copy-btn {
    width: 100%;
    font-size: 16px;
}
