@model IEnumerable<ShortUrl.Models.Link>
@using ShortUrl.Helpers

@{
    var url = ViewBag.CurrentUrl;
}

<h1>Строка для гита</h1>

<div class="container-fluid" style="background-color: blueviolet">
    @foreach (var item in Model)
    {
        <div class="row link">
            <div class="col-md-6 long-link lr-pad">
                @item.FullUrl
            </div>
            <div class="col-md-4 short-link lr-pad">
                <a href="@url@item.ShortUrl" id="shortUrl @item.Id">@url@item.ShortUrl</a>
            </div>
            <div class="col-md-2 copy lr-pad">
                <button class="btn copy-btn" onclick="copyHrefById('shortUrl @item.Id')">Скопировать</button>
            </div>
        </div>
    }
</div>

<script src="~/Scripts/Main.js"></script>
